$color-dark: #4f4d57;
$color-black: #000;
$color-primary: #fff;
$color-light: #bcbcba;
$color-secondary: #ff9409;
$box-shadow: .1rem .1rem .7rem $color-dark, -.1rem -.1rem .7rem $color-dark;

$breakpoints: (
  mobile: 750px,
)